extends layout
block title
  title (13) Pimon Game
block content
  h1 πmon
  .game#game
    .overlay#disable
    each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
      div.button(id='_#{i}', data-value='#{i}')= i
    div.button#point(data-value='.') .
    div.button#start Start
    
  .modal#modal
    .modal-box
      h2 Game Over
      p You successfully repeated Pi to #[span#digits ] digits
      button#restart Play Again
